.table-header {
    background-color: #F9FAFB;
    height: 50px;
}

.table-header th {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    border-top: 1px solid #E5E7EB;
}

.attendance-big-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 20px 0;
    flex: 2;
}

.attendance-big-card table {
    border-collapse: collapse;
}

.attendance-big-card table th, td {
    padding: 12px;
}

.session-heading {
    padding: 0 0 30px 12px;
}

.attendance-details {
    padding-left: 0 !important;
}

.attendee-col {
    display: flex;
    align-items: center;
    gap: 7px;
}

.attendee-col p {
    font-size: 14px;
}

.attendee {
    border-top: 1px solid #E5E7EB;
}