.card-content {
    display: flex;
    flex-direction: column;
}

.card-content p {
    margin: 2px;
}

.small-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-title {
    font-size: 14px;
    font-weight: 500;
    color: #6C7278;
}

.card-text {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}