#third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

#third-row {
    margin-bottom: 40px;
}

#attendance {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 825px) {
  #first-row, #second-row, #third-row {
    flex-direction: column;
  }
}