#third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

@media (max-width: 825px) {
  #first-row, #second-row, #third-row {
    flex-direction: column;
  }

  #third-row {
    margin-bottom: 40px;
  }
}