#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #828282;
    cursor: pointer;
    user-select: none
}