button {
    color: #FFFFFF;
    width: auto;
    border-radius: 10px;
    height: 50px;
    border: 1px solid #BEDBFF;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}