.content {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container p {
    margin: 0;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 650px) {
    .container {
        width: 30%;
    }
}