#heading h1 {
    margin-bottom: 0;
}

#first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

#dashboard {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 825px) {
  #first-row {
    flex-direction: column;
  }
}