@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.grey-text {
    font-size: 14px;
    font-weight: 500;
    color: #6C7278;
}

.info {
    font-size: 14px;
    font-weight: 500;
    color: #4D81E7;
    text-decoration: none;
}