.content-home {
    justify-content: start;
    gap: 40px;
    margin: 0;
}

body {
    margin: 0;
}

#attendance {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 650px) {
    .mobile-only {
        display: none;
    }
}