input {
    height: 46px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C8CDCF;
    padding-left: 10px;
    color: #000;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(228, 229, 231, 0.24);
}

input:disabled {
    background-color: #E2E2E2;
    color: #716B6B;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin-right: 8px;
}

input[type="time"] {
    font-family: "Inter";
}