.content {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signIn {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.heading p {
    margin: 0;
}