#sign-up-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#content-user {
    margin-top: 56px;
}

#inputs .info {
    text-align: end;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sign-in {
    display: flex;
    gap: 20px;
    flex-direction: column;
}