nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 25px;
}

.host-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.create-btn {
    width: 27%;
    height: 40px;
}