#headline {
    text-align: center;
}

#headline h1 {
    margin-bottom: 0;
}

#share-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#event-code {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

#qr-code {
    background-color: #E2E2E2;
    height: 200px;
    width: 200px;
}