#inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#event-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
}

.view-event-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}